framework: auto-detect
storage: none

source https://www.nuget.org/api/v2
nuget Hopac
nuget Newtonsoft.Json

group build-gr

    source https://www.nuget.org/api/v2
    nuget FAKE

group Test

    source https://nuget.org/api/v2
    nuget NUnit
    nuget Microsoft.NET.Test.Sdk
    nuget NUnit3TestAdapter
    nuget FsUnit
    nuget FsCheck